virtualenv
google-generativeai
setuptools
pymssql
python-dotenv
pandas
tqdm
requests
pillow
pyodbc
google-cloud-aiplatform
python-dotenv
pinecone
pyyaml
pinecone-client
grpc-gateway-protoc-gen-openapiv2
protobuf==3.20.3
openpyxl
sentence-transformers
phidata
openai
duckduckgo-search
lxml_html_clean
openai
ipywidgets
streamlit

